// HEADER

.header {
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin-left: -25px;
    // width: 150px;
    // height: 100px;

    @media screen and (min-width: 320px) {
      width: 150px;
      height: 100px;
    }
  }

  .img-burger {
  width: 30px;
  height: 27px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
}



//INFORMATION
.information {
  padding-top: 20px;
  background-image: url(./img/information-back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -300px;

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  &__date {
    color: #e1e4d8;
    letter-spacing: -.01em;
    font-family: Pptelegraf, sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 105%;
  }

  &__details {
    color: #e1e4d8;
    font-family: Pptelegraf, sans-serif;
    font-size: 15px;
    line-height: 130%;
  }
}

.list-item {
  border: 1px solid rgba(255, 255, 255, 0.08);
  color: #fff;
  box-shadow: 0 8px 70px rgba(68, 68, 68, 0);
  border-radius: 10px;
  background: rgba(213, 224, 213, 0.142);
  -webkit-backdrop-filter: blur(8px) saturate(120%);
  backdrop-filter: blur(8px) saturate(120%);
  padding: 12px 12px;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 100px;
  row-gap: 10px;
}